@media (max-width: 1366px) {
  .assistant-fixed {
    width: 350px; 
  }
}

@media (max-width: 900px) {
  .movies-grid {
    gap: 19px;
  }
  
  .movie-card {
    width: 90vw;
    max-width: 400px;
  }
  
}

@media (max-width: 767px) {
  .movies-grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  

}

@media (min-width: 768px)  and (max-width: 1024px) {
  .assistant-fixed {
    width: 280px;
    right: 30px;
    bottom: 10px;
    opacity: 1;
  }
  

  .brand-title {
    font-size: 64px;
  }
  
  .brand-subtitle {
    font-size: 19px;
  }
  
  .search-card {
    padding: 48px;
  }
}



